# Dictionary

In [179]:
# having a list of words
words = ['apple','bat','bar','atom','bool']

# empty dictionary defined
by_letter = {}

In [180]:
# testing the dictionary iterationi
my_dict = {1:'a',2:'b',3:'c'}

# so if I am using dictionary directly in for loop then it will only take the index/key from the dictionary
for i,b in zip(my_dict,my_dict.values()):
    print(i,b)

1 a
2 b
3 c

In [181]:
# loop to assign values of dictionary
for word in words:
    letter = word[0] # as this is a string so we are taking first letter from the string like a from apple
    if letter not in by_letter:
        by_letter[letter]=[word] # creating a list/array to add more values if i have key repeating
    else:
        by_letter[letter].append(word) #if I have the key repeating then I am appending in the array/list

In [182]:
by_letter

{'a': ['apple', 'atom'], 'b': ['bat', 'bar', 'bool']}

In [183]:
texts = ['Yogesh','Yogita','Sanjay','Sangita','Sahil','Rohit']

my_dictionary_name = {}

for text in texts:
    my_text = text[0]

    if my_text not in my_dictionary_name:
        my_dictionary_name[my_text] = [text]
    else:
        my_dictionary_name[my_text].append(text)

my_dictionary_name

{'Y': ['Yogesh', 'Yogita'],
 'S': ['Sanjay', 'Sangita', 'Sahil'],
 'R': ['Rohit']}

In [184]:
# you can also use setdefault and combincation of append to simplify the code
dict = {}
for text in texts:
    my_index = text[0]
# setdefault takes 2 parameters 1st key to be searched and the default_value if not provided then none
    dict.setdefault(my_index,[]).append(text)
print(dict)

{'Y': ['Yogesh', 'Yogita'], 'S': ['Sanjay', 'Sangita', 'Sahil'], 'R': ['Rohit']}

# Valid dictionary key types

Keys should be hashable or immutable like int, float, string or tuples

In [185]:
print('String is hashable ', hash('string'))
print('Tuple is hashable ', hash((2,4,(4,3))))

String is hashable  -8688164669019977115
Tuple is hashable  -2901236784998325500

In [186]:
# but as the list is not hashable or mutable thats why cant be used as a key
hash((2,4,[3,3]))

TypeError: unhashable type: 'list'

## Built - in Sequence Functions

In [187]:
index = 0
for value in dict:
    print(index)
    print('key ',value)
    index+=1

0
key  Y
1
key  S
2
key  R

In [188]:
for index,key in enumerate(dict):
    print(f'Index: {index} , Key: {key}, Value: {dict[key]}')

Index: 0 , Key: Y, Value: ['Yogesh', 'Yogita']
Index: 1 , Key: S, Value: ['Sanjay', 'Sangita', 'Sahil']
Index: 2 , Key: R, Value: ['Rohit']

In [189]:
seq1 = [1,2,4]
seq2 = ['a','b','d']

# lets zip two sequences
zipped_seq = zip(seq1,seq2)


for index,(a,b) in enumerate(zipped_seq):
    print(index)
    print(a, b)

0
1 a
1
2 b
2
4 d

In [190]:
print((zipped_seq))

<zip object at 0x000001636B9387C0>

## Nested list comprehension

In [191]:
all_data = [["John", "Emily", "Michael", "Mary", "Steven"],
            ["Maria", "Juan", "Javier", "Natalia", "Pilar"]]

In [192]:
names_of_interest = []

for names in all_data:
    enough_as = [name for name in names if name.count('a')>=2]
    names_of_interest.extend(enough_as)

In [193]:
some_tuples = [(1, 2, 3), (4, 5, 6), (7, 8, 9)]

flattend = [tup  for tuple in some_tuples for tup in tuple]

flattend

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [194]:
# append adds single value only but extends add list of values
Numbers = [[1,2,3,4,5,6,7,8,9,10],
          [11,12,13,14,15,16,17,18,19,20]]
Result = []
for listx in Numbers:
    Squares = [Number ** 2 for Number in listx if Number % 2 == 0] # this will update in the next iteration
    Result.extend(Squares) # as the Squares values is going to get updated thus it needs to extended which will append
print(Squares)
print(Result)

[144, 196, 256, 324, 400]
[4, 16, 36, 64, 100, 144, 196, 256, 324, 400]

In [195]:
x = [num**2 for number in Numbers for num in number if num%2==0 ]
x

[4, 16, 36, 64, 100, 144, 196, 256, 324, 400]

In [196]:
#extend takes anythings which is iterable
my_list = []

my_list.extend('damn')

my_list

['d', 'a', 'm', 'n']

# Generators
Special kind of function that return a `lazy iterator`

In [197]:
def square_numbers(nums):
    for i in nums:
        yield (i*i)

In [198]:
mynums = square_numbers([1,2,3,4,5])

In [199]:
# generator will only get iterated only if you call them by next function
next(mynums)

1

In [200]:
iter(mynums)

In [201]:
for num in mynums:
    print(num)

4
9
16
25

In [202]:
# another way of creating the genearators is putting for loop in () brackets
my_nums = (x*x for x in [1,2,3,4,5])
print(my_nums)

<generator object <genexpr> at 0x000001636BAD4040>

In [203]:
#creating a infinite sequence
def infinite_sequence():
    num = 0
    while True:
        yield num
        num += 1
abc = infinite_sequence()

In [204]:
next(abc)

0

Creating my own iterators

In [205]:
class Sentence:

    def __init__(self,sentence):
        self.sentence = sentence
        self.index = 0
        self.words = self.sentence.split()

    def __iter__(self):
        return self

    def __next__(self):
        if self.index>=len(self.words):
            raise StopIteration
        index = self.index
        self.index+=1
        return self.words[index]

In [206]:
my_sentence = Sentence('this is a test')

In [207]:
next(my_sentence)

'this'

In [208]:
# other way to create the iterator is using the genrator
def sentenceGenerator(sentence) : 
    for word in sentence.split():
        yield word

In [209]:
my_sent = sentenceGenerator('This is a second test')

In [210]:
next(my_sent),next(my_sent),next(my_sent),next(my_sent),next(my_sent)

('This', 'is', 'a', 'second', 'test')

## Itertools
It is a way to use the iterators in a easier way

In [2]:
import itertools

In [3]:
counter = itertools.count()

In [4]:
next(counter)

0

In [9]:
import itertools

test = [100, 200, 300, 400, 500]
daily_data = list(zip(itertools.count(), test))

In [10]:
print(daily_data)

[(0, 100), (1, 200), (2, 300), (3, 400), (4, 500)]

## Permuation & Combination

In [20]:
letters = [ 'a','b','c','d']
numbers = [0,1,2,3]
names = ['Corey','Nicole']

result = itertools.combinations(letters,2)

In [21]:
for item in result:
    print(item)

('a', 'b')
('a', 'c')
('a', 'd')
('b', 'c')
('b', 'd')
('c', 'd')

In [18]:
result_pm = itertools.permutations(letters,2)

In [19]:
for x in result_pm:
    print(x)

('a', 'b')
('a', 'c')
('a', 'd')
('b', 'a')
('b', 'c')
('b', 'd')
('c', 'a')
('c', 'b')
('c', 'd')
('d', 'a')
('d', 'b')
('d', 'c')

In [26]:
result_cm = itertools.product(numbers,repeat= 2)

for item in result_cm:
    print(item)

(0, 0)
(0, 1)
(0, 2)
(0, 3)
(1, 0)
(1, 1)
(1, 2)
(1, 3)
(2, 0)
(2, 1)
(2, 2)
(2, 3)
(3, 0)
(3, 1)
(3, 2)
(3, 3)
The history saving thread hit an unexpected error (OperationalError('database or disk is full')).History will not be written to the database.

In [27]:
combined = itertools.chain(letters,numbers,names)

In [28]:
for i in combined:
    print(i)

a
b
c
d
0
1
2
3
Corey
Nicole

In [38]:
result = itertools.islice(range(10),1,5)

In [39]:
for i in result:
    print(i)

1
2
3
4

In [40]:
numlist = [3,5,2,5,5]

result = itertools.accumulate(numlist)

for item in result:
    print(item)

3
8
10
15
20

In [41]:
people = [
    {
        'name': 'John Doe',
        'city': 'Gotham',
        'state': 'NY'
    },
    {
        'name': 'Jane Doe',
        'city': 'Kings Landing',
        'state': 'NY'
    },
    {
        'name': 'Corey Schafer',
        'city': 'Boulder',
        'state': 'CO'
    },
    {
        'name': 'Al Einstein',
        'city': 'Denver',
        'state': 'CO'
    },
    {
        'name': 'John Henry',
        'city': 'Hinton',
        'state': 'WV'
    },
    {
        'name': 'Randy Moss',
        'city': 'Rand',
        'state': 'WV'
    },
    {
        'name': 'Nicole K',
        'city': 'Asheville',
        'state': 'NC'
    },
    {
        'name': 'Jim Doe',
        'city': 'Charlotte',
        'state': 'NC'
    },
    {
        'name': 'Jane Taylor',
        'city': 'Faketown',
        'state': 'NC'
    }
]

In [42]:
def get_name(person):
    return person['state']

In [44]:
res = itertools.groupby(people,get_name)

for (it,p) in res:
    print(it)
    for p1 in p:
        print(p1)
    print()

NY
{'name': 'John Doe', 'city': 'Gotham', 'state': 'NY'}
{'name': 'Jane Doe', 'city': 'Kings Landing', 'state': 'NY'}

CO
{'name': 'Corey Schafer', 'city': 'Boulder', 'state': 'CO'}
{'name': 'Al Einstein', 'city': 'Denver', 'state': 'CO'}

WV
{'name': 'John Henry', 'city': 'Hinton', 'state': 'WV'}
{'name': 'Randy Moss', 'city': 'Rand', 'state': 'WV'}

NC
{'name': 'Nicole K', 'city': 'Asheville', 'state': 'NC'}
{'name': 'Jim Doe', 'city': 'Charlotte', 'state': 'NC'}
{'name': 'Jane Taylor', 'city': 'Faketown', 'state': 'NC'}