# Interacting with web apis

In [2]:
import requests

In [3]:
url = "https://api.github.com/repos/pandas-dev/pandas/issues"

In [4]:
resp = requests.get(url)
resp.raise_for_status()
resp

In [5]:
data = resp.json()
data[0]

{'url': 'https://api.github.com/repos/pandas-dev/pandas/issues/57972',
 'repository_url': 'https://api.github.com/repos/pandas-dev/pandas',
 'labels_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/57972/labels{/name}',
 'comments_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/57972/comments',
 'events_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/57972/events',
 'html_url': 'https://github.com/pandas-dev/pandas/issues/57972',
 'id': 2203787041,
 'node_id': 'I_kwDOAA0YD86DWx8h',
 'number': 57972,
 'title': 'BUG: Wrong kurtosis outcome due to inadequate fix to previous issues',
 'user': {'login': 'j7168908jx',
  'id': 29114306,
  'node_id': 'MDQ6VXNlcjI5MTE0MzA2',
  'avatar_url': 'https://avatars.githubusercontent.com/u/29114306?v=4',
  'gravatar_id': '',
  'url': 'https://api.github.com/users/j7168908jx',
  'html_url': 'https://github.com/j7168908jx',
  'followers_url': 'https://api.github.com/users/j7168908jx/followers',
  'following_url': 'https://api.github.com/users/j7168908jx/following{/other_user}',
  'gists_url': 'https://api.github.com/users/j7168908jx/gists{/gist_id}',
  'starred_url': 'https://api.github.com/users/j7168908jx/starred{/owner}{/repo}',
  'subscriptions_url': 'https://api.github.com/users/j7168908jx/subscriptions',
  'organizations_url': 'https://api.github.com/users/j7168908jx/orgs',
  'repos_url': 'https://api.github.com/users/j7168908jx/repos',
  'events_url': 'https://api.github.com/users/j7168908jx/events{/privacy}',
  'received_events_url': 'https://api.github.com/users/j7168908jx/received_events',
  'type': 'User',
  'site_admin': False},
 'labels': [{'id': 76811,
   'node_id': 'MDU6TGFiZWw3NjgxMQ==',
   'url': 'https://api.github.com/repos/pandas-dev/pandas/labels/Bug',
   'name': 'Bug',
   'color': 'e10c02',
   'default': False,
   'description': None},
  {'id': 1954720290,
   'node_id': 'MDU6TGFiZWwxOTU0NzIwMjkw',
   'url': 'https://api.github.com/repos/pandas-dev/pandas/labels/Needs%20Triage',
   'name': 'Needs Triage',
   'color': '0052cc',
   'default': False,
   'description': 'Issue that has not been reviewed by a pandas team member'}],
 'state': 'open',
 'locked': False,
 'assignee': None,
 'assignees': [],
 'milestone': None,
 'comments': 0,
 'created_at': '2024-03-23T09:16:28Z',
 'updated_at': '2024-03-23T09:16:28Z',
 'closed_at': None,
 'author_association': 'NONE',
 'active_lock_reason': None,
 'body': "### Pandas version checks\n\n- [X] I have checked that this issue has not already been reported.\n\n- [X] I have confirmed this bug exists on the [latest version](https://pandas.pydata.org/docs/whatsnew/index.html) of pandas.\n\n- [X] I have confirmed this bug exists on the [main branch](https://pandas.pydata.org/docs/dev/getting_started/install.html#installing-the-development-version-of-pandas) of pandas.\n\n\n### Reproducible Example\n\n```python\nimport polars as pl\r\nimport pandas as pd\r\nimport numpy as np\r\nimport scipy.stats as st\r\n\r\ndata = np.array([-2.05191341e-05,  0.00000000e+00,  0.00000000e+00,  0.00000000e+00,\r\n        0.00000000e+00, -4.10391103e-05,  0.00000000e+00,  0.00000000e+00,\r\n        0.00000000e+00,  0.00000000e+00,  0.00000000e+00,  0.00000000e+00,\r\n        0.00000000e+00,  0.00000000e+00,  0.00000000e+00,  0.00000000e+00,\r\n        0.00000000e+00,  0.00000000e+00,  0.00000000e+00,  0.00000000e+00,\r\n        0.00000000e+00,  0.00000000e+00,  0.00000000e+00,  0.00000000e+00,\r\n        0.00000000e+00,  0.00000000e+00,  0.00000000e+00,  0.00000000e+00,\r\n        0.00000000e+00])\r\n\r\nprint(pl.Series(data).kurtosis())\r\nprint(pd.Series(data).kurt())\r\nprint(st.kurtosis(data))\n```\n\n\n### Issue Description\n\nThe output of `pandas` kurtosis function is incorrect. \r\n\r\nAfter simple debugging I found a comment at `core/nanops.py` line 1360, in function `nankurt`,\r\nsaying to fix #18044 it manually zeros out values less than 1e-14, which is in any way improper.\r\nThis affects whatever data comes with not much variance but lots of data.\r\n\r\n\n\n### Expected Behavior\n\nOutput of provided example:\r\n```text\r\n14.916104870028523\r\n0.0\r\n14.916104870028551\r\n```\r\n\r\nExpected output: roughly 14.9161 for unbiased (`pandas`'s default behaviour) is correct.\r\n\n\n### Installed Versions\n\n<details>\r\n\r\n\r\nINSTALLED VERSIONS\r\n------------------\r\ncommit                : bdc79c146c2e32f2cab629be240f01658cfb6cc2\r\npython                : 3.10.13.final.0\r\npython-bits           : 64\r\nOS                    : Linux\r\nOS-release            : 5.19.0-1010-nvidia-lowlatency\r\nVersion               : #10-Ubuntu SMP PREEMPT_DYNAMIC Wed Apr 26 00:40:27 UTC 2023\r\nmachine               : x86_64\r\nprocessor             : x86_64\r\nbyteorder             : little\r\nLC_ALL                : None\r\nLANG                  : en_US.UTF-8\r\nLOCALE                : en_US.UTF-8\r\n\r\npandas                : 2.2.1\r\nnumpy                 : 1.26.4\r\npytz                  : 2024.1\r\ndateutil              : 2.8.2\r\nsetuptools            : 65.5.0\r\npip                   : 24.0\r\nCython                : None\r\npytest                : None\r\nhypothesis            : None\r\nsphinx                : None\r\nblosc                 : None\r\nfeather               : None\r\nxlsxwriter            : None\r\nlxml.etree            : None\r\nhtml5lib              : None\r\npymysql               : None\r\npsycopg2              : None\r\njinja2                : None\r\nIPython               : 8.22.1\r\npandas_datareader     : None\r\nadbc-driver-postgresql: None\r\nadbc-driver-sqlite    : None\r\nbs4                   : None\r\nbottleneck            : None\r\ndataframe-api-compat  : None\r\nfastparquet           : None\r\nfsspec                : 2024.2.0\r\ngcsfs                 : None\r\nmatplotlib            : 3.8.3\r\nnumba                 : 0.59.0\r\nnumexpr               : None\r\nodfpy                 : None\r\nopenpyxl              : None\r\npandas_gbq            : None\r\npyarrow               : 15.0.0\r\npyreadstat            : None\r\npython-calamine       : None\r\npyxlsb                : None\r\ns3fs                  : None\r\nscipy                 : 1.12.0\r\nsqlalchemy            : None\r\ntables                : None\r\ntabulate              : None\r\nxarray                : None\r\nxlrd                  : None\r\nzstandard             : None\r\ntzdata                : 2024.1\r\nqtpy                  : None\r\npyqt5                 : None\r\n\r\n</details>\r\n",
 'reactions': {'url': 'https://api.github.com/repos/pandas-dev/pandas/issues/57972/reactions',
  'total_count': 0,
  '+1': 0,
  '-1': 0,
  'laugh': 0,
  'hooray': 0,
  'confused': 0,
  'heart': 0,
  'rocket': 0,
  'eyes': 0},
 'timeline_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/57972/timeline',
 'performed_via_github_app': None,
 'state_reason': None}

In [7]:
import pandas as pd

In [8]:
issues = pd.DataFrame(data,columns=['number','title','labels','state'])
issues.head()

,number,title,labels,state
0,57972,BUG: Wrong kurtosis outcome due to inadequate ...,"[{'id': 76811, 'node_id': 'MDU6TGFiZWw3NjgxMQ=...",open
1,57971,CLN: Enforce deprecation of argmin/max and idx...,"[{'id': 2822342, 'node_id': 'MDU6TGFiZWwyODIyM...",open
2,57970,Implement hash_join for merges,[],open
3,57969,WEB: Updating active/inactive core devs,"[{'id': 32933285, 'node_id': 'MDU6TGFiZWwzMjkz...",open
4,57968,BUG: #57954 encoding ignored for filelike,[],open

In [9]:
issues['labels'].head()

0    [{'id': 76811, 'node_id': 'MDU6TGFiZWw3NjgxMQ=...
1    [{'id': 2822342, 'node_id': 'MDU6TGFiZWwyODIyM...
2                                                   []
3    [{'id': 32933285, 'node_id': 'MDU6TGFiZWwzMjkz...
4                                                   []
Name: labels, dtype: object

In [10]:
url2 = "https://jsonplaceholder.typicode.com/todos"

resp2 =requests.get(url2)

resp2.raise_for_status()
resp2

In [11]:
data2 = resp2.json()

In [12]:
data2[0]

{'userId': 1, 'id': 1, 'title': 'delectus aut autem', 'completed': False}

In [25]:
df_placeholder = pd.DataFrame(data2).set_index('id')
df_placeholder.head()

    userId                                              title  completed
id
1        1                                 delectus aut autem      False
2        1                 quis ut nam facilis et officia qui      False
3        1                                fugiat veniam minus      False
4        1                                   et porro tempora       True
5        1  laboriosam mollitia et enim quasi adipisci qui...      False

In [26]:
response = requests.get("http://api.open-notify.org/astros")
print(response.status_code)

200

In [31]:
data3 = response.json()
print(data3['people'][0])

{'name': 'Jasmin Moghbeli', 'craft': 'ISS'}

In [30]:
df =pd.DataFrame(data3['people'])
df.head()

                 name craft
0     Jasmin Moghbeli   ISS
1    Andreas Mogensen   ISS
2    Satoshi Furukawa   ISS
3  Konstantin Borisov   ISS
4      Oleg Kononenko   ISS

In [34]:
response_eco = requests.get('http://api.worldbank.org/v2/country/all/indicator/SP.POP.TOTL?format=json')
print(response_eco.status_code)

200

In [44]:
data_eco = response_eco.json()
print(data_eco[1])

[{'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'}, 'country': {'id': 'ZH', 'value': 'Africa Eastern and Southern'}, 'countryiso3code': 'AFE', 'date': '2022', 'value': 720859132, 'unit': '', 'obs_status': '', 'decimal': 0}, {'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'}, 'country': {'id': 'ZH', 'value': 'Africa Eastern and Southern'}, 'countryiso3code': 'AFE', 'date': '2021', 'value': 702977106, 'unit': '', 'obs_status': '', 'decimal': 0}, {'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'}, 'country': {'id': 'ZH', 'value': 'Africa Eastern and Southern'}, 'countryiso3code': 'AFE', 'date': '2020', 'value': 685112979, 'unit': '', 'obs_status': '', 'decimal': 0}, {'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'}, 'country': {'id': 'ZH', 'value': 'Africa Eastern and Southern'}, 'countryiso3code': 'AFE', 'date': '2019', 'value': 667242986, 'unit': '', 'obs_status': '', 'decimal': 0}, {'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'}, 'country': {'id': 'ZH', 'value': 'Africa Eastern and Southern'}, 'countryiso3code': 'AFE', 'date': '2018', 'value': 649757148, 'unit': '', 'obs_status': '', 'decimal': 0}, {'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'}, 'country': {'id': 'ZH', 'value': 'Africa Eastern and Southern'}, 'countryiso3code': 'AFE', 'date': '2017', 'value': 632746570, 'unit': '', 'obs_status': '', 'decimal': 0}, {'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'}, 'country': {'id': 'ZH', 'value': 'Africa Eastern and Southern'}, 'countryiso3code': 'AFE', 'date': '2016', 'value': 616377605, 'unit': '', 'obs_status': '', 'decimal': 0}, {'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'}, 'country': {'id': 'ZH', 'value': 'Africa Eastern and Southern'}, 'countryiso3code': 'AFE', 'date': '2015', 'value': 600008424, 'unit': '', 'obs_status': '', 'decimal': 0}, {'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'}, 'country': {'id': 'ZH', 'value': 'Africa Eastern and Southern'}, 'countryiso3code': 'AFE', 'date': '2014', 'value': 583651101, 'unit': '', 'obs_status': '', 'decimal': 0}, {'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'}, 'country': {'id': 'ZH', 'value': 'Africa Eastern and Southern'}, 'countryiso3code': 'AFE', 'date': '2013', 'value': 567892149, 'unit': '', 'obs_status': '', 'decimal': 0}, {'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'}, 'country': {'id': 'ZH', 'value': 'Africa Eastern and Southern'}, 'countryiso3code': 'AFE', 'date': '2012', 'value': 552530654, 'unit': '', 'obs_status': '', 'decimal': 0}, {'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'}, 'country': {'id': 'ZH', 'value': 'Africa Eastern and Southern'}, 'countryiso3code': 'AFE', 'date': '2011', 'value': 537792950, 'unit': '', 'obs_status': '', 'decimal': 0}, {'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'}, 'country': {'id': 'ZH', 'value': 'Africa Eastern and Southern'}, 'countryiso3code': 'AFE', 'date': '2010', 'value': 523459657, 'unit': '', 'obs_status': '', 'decimal': 0}, {'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'}, 'country': {'id': 'ZH', 'value': 'Africa Eastern and Southern'}, 'countryiso3code': 'AFE', 'date': '2009', 'value': 509410477, 'unit': '', 'obs_status': '', 'decimal': 0}, {'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'}, 'country': {'id': 'ZH', 'value': 'Africa Eastern and Southern'}, 'countryiso3code': 'AFE', 'date': '2008', 'value': 495748900, 'unit': '', 'obs_status': '', 'decimal': 0}, {'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'}, 'country': {'id': 'ZH', 'value': 'Africa Eastern and Southern'}, 'countryiso3code': 'AFE', 'date': '2007', 'value': 482406426, 'unit': '', 'obs_status': '', 'decimal': 0}, {'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'}, 'country': {'id': 'ZH', 'value': 'Africa Eastern and Southern'}, 'countryiso3code': 'AFE', 'date': '2006', 'value': 469508516, 'unit': '', 'obs_status': '', 'decimal': 0}, {'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'}, 'country': {'id': 'ZH', 'value': 'Africa Eastern and Southern'}, 'countryiso3code': 'AFE', 'date': '2005', 'value': 457153837, 'unit': '', 'obs_status': '', 'decimal': 0}, {'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'}, 'country': {'id': 'ZH', 'value': 'Africa Eastern and Southern'}, 'countryiso3code': 'AFE', 'date': '2004', 'value': 445281555, 'unit': '', 'obs_status': '', 'decimal': 0}, {'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'}, 'country': {'id': 'ZH', 'value': 'Africa Eastern and Southern'}, 'countryiso3code': 'AFE', 'date': '2003', 'value': 433807484, 'unit': '', 'obs_status': '', 'decimal': 0}, {'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'}, 'country': {'id': 'ZH', 'value': 'Africa Eastern and Southern'}, 'countryiso3code': 'AFE', 'date': '2002', 'value': 422741118, 'unit': '', 'obs_status': '', 'decimal': 0}, {'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'}, 'country': {'id': 'ZH', 'value': 'Africa Eastern and Southern'}, 'countryiso3code': 'AFE', 'date': '2001', 'value': 412001885, 'unit': '', 'obs_status': '', 'decimal': 0}, {'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'}, 'country': {'id': 'ZH', 'value': 'Africa Eastern and Southern'}, 'countryiso3code': 'AFE', 'date': '2000', 'value': 401600588, 'unit': '', 'obs_status': '', 'decimal': 0}, {'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'}, 'country': {'id': 'ZH', 'value': 'Africa Eastern and Southern'}, 'countryiso3code': 'AFE', 'date': '1999', 'value': 391486231, 'unit': '', 'obs_status': '', 'decimal': 0}, {'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'}, 'country': {'id': 'ZH', 'value': 'Africa Eastern and Southern'}, 'countryiso3code': 'AFE', 'date': '1998', 'value': 381715600, 'unit': '', 'obs_status': '', 'decimal': 0}, {'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'}, 'country': {'id': 'ZH', 'value': 'Africa Eastern and Southern'}, 'countryiso3code': 'AFE', 'date': '1997', 'value': 372352230, 'unit': '', 'obs_status': '', 'decimal': 0}, {'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'}, 'country': {'id': 'ZH', 'value': 'Africa Eastern and Southern'}, 'countryiso3code': 'AFE', 'date': '1996', 'value': 362985802, 'unit': '', 'obs_status': '', 'decimal': 0}, {'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'}, 'country': {'id': 'ZH', 'value': 'Africa Eastern and Southern'}, 'countryiso3code': 'AFE', 'date': '1995', 'value': 353466601, 'unit': '', 'obs_status': '', 'decimal': 0}, {'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'}, 'country': {'id': 'ZH', 'value': 'Africa Eastern and Southern'}, 'countryiso3code': 'AFE', 'date': '1994', 'value': 344418362, 'unit': '', 'obs_status': '', 'decimal': 0}, {'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'}, 'country': {'id': 'ZH', 'value': 'Africa Eastern and Southern'}, 'countryiso3code': 'AFE', 'date': '1993', 'value': 335625136, 'unit': '', 'obs_status': '', 'decimal': 0}, {'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'}, 'country': {'id': 'ZH', 'value': 'Africa Eastern and Southern'}, 'countryiso3code': 'AFE', 'date': '1992', 'value': 326933522, 'unit': '', 'obs_status': '', 'decimal': 0}, {'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'}, 'country': {'id': 'ZH', 'value': 'Africa Eastern and Southern'}, 'countryiso3code': 'AFE', 'date': '1991', 'value': 318544083, 'unit': '', 'obs_status': '', 'decimal': 0}, {'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'}, 'country': {'id': 'ZH', 'value': 'Africa Eastern and Southern'}, 'countryiso3code': 'AFE', 'date': '1990', 'value': 309890664, 'unit': '', 'obs_status': '', 'decimal': 0}, {'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'}, 'country': {'id': 'ZH', 'value': 'Africa Eastern and Southern'}, 'countryiso3code': 'AFE', 'date': '1989', 'value': 301124880, 'unit': '', 'obs_status': '', 'decimal': 0}, {'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'}, 'country': {'id': 'ZH', 'value': 'Africa Eastern and Southern'}, 'countryiso3code': 'AFE', 'date': '1988', 'value': 292795186, 'unit': '', 'obs_status': '', 'decimal': 0}, {'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'}, 'country': {'id': 'ZH', 'value': 'Africa Eastern and Southern'}, 'countryiso3code': 'AFE', 'date': '1987', 'value': 284490394, 'unit': '', 'obs_status': '', 'decimal': 0}, {'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'}, 'country': {'id': 'ZH', 'value': 'Africa Eastern and Southern'}, 'countryiso3code': 'AFE', 'date': '1986', 'value': 276035920, 'unit': '', 'obs_status': '', 'decimal': 0}, {'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'}, 'country': {'id': 'ZH', 'value': 'Africa Eastern and Southern'}, 'countryiso3code': 'AFE', 'date': '1985', 'value': 267938123, 'unit': '', 'obs_status': '', 'decimal': 0}, {'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'}, 'country': {'id': 'ZH', 'value': 'Africa Eastern and Southern'}, 'countryiso3code': 'AFE', 'date': '1984', 'value': 260209149, 'unit': '', 'obs_status': '', 'decimal': 0}, {'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'}, 'country': {'id': 'ZH', 'value': 'Africa Eastern and Southern'}, 'countryiso3code': 'AFE', 'date': '1983', 'value': 252779730, 'unit': '', 'obs_status': '', 'decimal': 0}, {'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'}, 'country': {'id': 'ZH', 'value': 'Africa Eastern and Southern'}, 'countryiso3code': 'AFE', 'date': '1982', 'value': 245386717, 'unit': '', 'obs_status': '', 'decimal': 0}, {'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'}, 'country': {'id': 'ZH', 'value': 'Africa Eastern and Southern'}, 'countryiso3code': 'AFE', 'date': '1981', 'value': 237937461, 'unit': '', 'obs_status': '', 'decimal': 0}, {'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'}, 'country': {'id': 'ZH', 'value': 'Africa Eastern and Southern'}, 'countryiso3code': 'AFE', 'date': '1980', 'value': 230967858, 'unit': '', 'obs_status': '', 'decimal': 0}, {'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'}, 'country': {'id': 'ZH', 'value': 'Africa Eastern and Southern'}, 'countryiso3code': 'AFE', 'date': '1979', 'value': 224315978, 'unit': '', 'obs_status': '', 'decimal': 0}, {'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'}, 'country': {'id': 'ZH', 'value': 'Africa Eastern and Southern'}, 'countryiso3code': 'AFE', 'date': '1978', 'value': 217481420, 'unit': '', 'obs_status': '', 'decimal': 0}, {'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'}, 'country': {'id': 'ZH', 'value': 'Africa Eastern and Southern'}, 'countryiso3code': 'AFE', 'date': '1977', 'value': 211120911, 'unit': '', 'obs_status': '', 'decimal': 0}, {'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'}, 'country': {'id': 'ZH', 'value': 'Africa Eastern and Southern'}, 'countryiso3code': 'AFE', 'date': '1976', 'value': 205202669, 'unit': '', 'obs_status': '', 'decimal': 0}, {'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'}, 'country': {'id': 'ZH', 'value': 'Africa Eastern and Southern'}, 'countryiso3code': 'AFE', 'date': '1975', 'value': 199284304, 'unit': '', 'obs_status': '', 'decimal': 0}, {'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'}, 'country': {'id': 'ZH', 'value': 'Africa Eastern and Southern'}, 'countryiso3code': 'AFE', 'date': '1974', 'value': 193512956, 'unit': '', 'obs_status': '', 'decimal': 0}, {'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'}, 'country': {'id': 'ZH', 'value': 'Africa Eastern and Southern'}, 'countryiso3code': 'AFE', 'date': '1973', 'value': 187901657, 'unit': '', 'obs_status': '', 'decimal': 0}]